Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Fix import for compressor test
  server/tests/service/test_compressor.py
Due: backend unit tests, backend system tests, backend format

Fix compressor test compile issues
  server/tests/service/test_compressor.py
Due: backend unit tests, backend system tests, backend format

fix front end integration test failtures
  server/api/resources/patients.py
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

Fix spelling in compressor
  server/service/compressor.py
Due: backend unit tests, backend system tests, backend format

Format compressor.py
  server/service/compressor.py
Due: backend unit tests, backend system tests, backend format

Create encryptor test
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

Create encryptor compressor test
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

Fix fernet import for encryptor test
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

add isArchived to patient creation
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix formatting
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Address git commits for encryptor test
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

format test_encryptor.py
  server/tests/service/test_encryptor.py
Due: backend unit tests, backend system tests, backend format

add unarchiving function to backend
  client/src/pages/admin/managePatients/UnarchivePatient.tsx
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

add unarchive button to frontend
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend lint, frontend format

Implement basic logging format
  server/__init__.py
  server/api/__init__.py
  server/api/resources/users.py
  server/app.py
  server/config.py
Due: backend unit tests, backend system tests, backend format

implemented Issue #127, saves application log to /var/log/ and implemented request id
  docker-compose.yml
  prometheus.yml
  server/Dockerfile
  server/api/resources/forms.py
  server/api/resources/medicalRecords.py
  server/config.py
  server/requirements.txt
  server/utils.py
Due: backend unit tests, backend system tests, backend format

remove logger in forms
  server/api/resources/forms.py
Due: backend unit tests, backend system tests, backend format

remove prometheus
  prometheus.yml
Due: none

updated logging format
  server/config.py
Due: backend unit tests, backend system tests, backend format

removed request id library
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

Empty init.py
  server/__init__.py
Due: backend unit tests, backend system tests, backend format

fix black check
  server/api/__init__.py
  server/api/resources/forms.py
  server/api/resources/medicalRecords.py
  server/api/resources/users.py
  server/app.py
  server/config.py
  server/utils.py
Due: backend unit tests, backend system tests, backend format

revert file
  docker-compose.yml
  server/Dockerfile
Due: backend unit tests, backend system tests, backend format

Change mysql settings
  mysql.cnf
Due: none

Output caddy global logs to a mounted volume file /var/log/caddy/global.log
  caddy/Caddyfile
  docker-compose.deploy.yml
Due: none

initial set up to save mysql logs to files. Need to create a logic to rotate them.
  docker-compose.yml
  mysql.cnf
Due: none

Add development conf dir for better understanding
  fluentbit/config/outputs/development/caddy-output.conf
  fluentbit/config/outputs/development/flask-output.conf
  fluentbit/config/outputs/development/mysql-output.conf
Due: none

[#125] Mount named volumes instead for log directory and make it read-only for fleuntbit container
  docker-compose.deploy.yml
  docker-compose.yml
  fluentbit/README.md
Due: none

initial grafana commit
  docker-compose.yml
  fluentbit/config/outputs/development/caddy-output.conf
  fluentbit/config/outputs/development/flask-output.conf
  fluentbit/config/outputs/development/mysql-output.conf
  fluentbit/config/outputs/local/flask-output.conf
  server/prod/gunicorn.conf.py
Due: backend unit tests, backend system tests, backend format

[#125] Move fluentbit container to docker-comose.deploy so that it doesn't run locally with just docker-compose up
  docker-compose.deploy.yml
  docker-compose.yml
Due: none

[#125] Separate Caddy's runtime logs and access logs
  caddy/Caddyfile
  fluentbit/README.md
  fluentbit/config/inputs/caddy-input.conf
  fluentbit/config/outputs/local/caddy-output.conf
Due: none

update referrals to not return archived patients
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

[#136] Update flask-jwt-extended to 4.0.0 and make appropriate changes to code
  server/api/resources/assessments.py
  server/api/resources/facilities.py
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/api/resources/forms.py
  server/api/resources/medicalRecords.py
  server/api/resources/patientAssociations.py
  server/api/resources/patients.py
  server/api/resources/patients_android.py
  server/api/resources/pregnancies.py
  server/api/resources/readings.py
  server/api/resources/referrals.py
  server/api/resources/sync.py
  server/api/resources/users.py
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

[#136] Update flask-jwt-extended to 4.3.0 and pyjwt to 2.4.0 to support update to flask version 2.*
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

[#136] Migrate from flask-script to flask-cli
  server/manage.py
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

[#136] Update flask to 2.0.0 and its dependencies to appropriate versions
  .gitignore
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format

fix formatting issues
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

SMS relay endpoint base file
  server/api/resources/sms_relay.py
Due: backend unit tests, backend system tests, backend format

[#136] Update flask to 2.0.0 and its dependencies to appropriate versions
  server/requirements.txt
Due: backend unit tests, backend system tests, backend format
