Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

Add new database model for FormClassifications and update FormTemplate model
  server/migrations/versions/3451c3010032_.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

updated update assessment button
  client/src/pages/patient/Cards/AssessmentData.tsx
Due: frontend build, frontend lint, frontend format

server/api/reading: fixed bug where server crashes if android sends a reading with an referral attached
  server/api/resources/readings.py
Due: backend unit tests, backend system tests, backend format

Added handle form archival to Backend
  server/api/resources/formTemplates.py
  server/api/util.py
  server/migrations/versions/c2068f6f21d0_.py
  server/models.py
  server/specifications/single-form-template-archive.yml
Due: backend unit tests, backend system tests, backend format

Added Form Template Archival to the front end
  client/src/pages/admin/AdminTable.tsx
  client/src/pages/admin/manageForms/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageForms/CreateTemplate.tsx
  client/src/pages/admin/manageForms/ManageForms.tsx
  client/src/pages/admin/manageForms/state.ts
  client/src/pages/assessmentForm/handlers.ts
  client/src/shared/api.ts
  client/src/shared/types.ts
  server/api/resources/formTemplates.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Updated migration for the form template archival
  server/migrations/versions/725404868513_added_archived_flag_for_form_template.py
Due: backend unit tests, backend system tests, backend format

fixed frontend formatting
  client/src/pages/admin/AdminTable.tsx
  client/src/pages/admin/manageForms/ManageForms.tsx
Due: frontend build, frontend lint, frontend format

Fixed backend formatting
  server/api/resources/formTemplates.py
  server/api/resources/stats.py
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

Fixed models.py with auto formatter
  server/models.py
Due: backend unit tests, backend system tests, backend format

Fixed formatting for stat.py
  server/api/resources/stats.py
Due: backend unit tests, backend system tests, backend format

Removed extra json validity check
  server/api/resources/formTemplates.py
  server/utils.py
Due: backend unit tests, backend system tests, backend format

Updated variable name to isOverdue
  client/src/pages/patient/PregnancyInfo.tsx
Due: frontend build, frontend lint, frontend format

Allowed CSV file uploads on the front end
  client/src/pages/admin/manageForms/createTemplate.tsx
Due: frontend build, frontend lint, frontend format

Added function to parse CSV into JSON
  server/api/constants.py
  server/api/resources/formTemplates.py
  server/api/util.py
  server/models.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

server/api/reading: applied formating to readings.py
  server/api/resources/readings.py
Due: backend unit tests, backend system tests, backend format

Modify system tests and API endpoints to conform with new FormTemplate model
  server/api/resources/formTemplates.py
  server/models.py
  server/systemTests/api/test_form_templates.py
  server/validation/formTemplates.py
Due: backend unit tests, backend system tests, backend format

Give database migration files proper messages and fix capitalization of foreign key
  server/migrations/versions/3451c3010032_.py
  server/migrations/versions/5bd241bc95c4_.py
Due: backend unit tests, backend system tests, backend format

fixed the issue
  client/src/pages/assessmentForm/handlers.ts
  client/src/pages/patientForm/medicalInfo/validation.tsx
Due: frontend build, frontend lint, frontend format

all the button sizes have been made standard
  client/src/pages/patient/Cards/AssessmentData.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/resources/ResourceTabPage/index.tsx
Due: frontend build, frontend lint, frontend format

added a comment to fill required fields
  client/src/pages/assessmentForm/AssessmentForm.tsx
Due: frontend build, frontend lint, frontend format

Updated to use descriptive variable and parameter names.
  server/validation/formTemplates.py
Due: backend unit tests, backend system tests, backend format

Added function to parse CSV form template into json object
  server/api/resources/formTemplates.py
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

Added history support for admin pages.
  client/src/app/routes/utils/index.tsx
  client/src/pages/admin/index.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

Fixed multi level category assignments in CSV files
  server/api/util.py
Due: backend unit tests, backend system tests, backend format

Replaced with method call to reduce duplication.
  server/data/marshal.py
Due: backend unit tests, backend system tests, backend format

Restored the content type to undefined for formdata
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

Added code to handle form classification during Template creation and retrieval
  client/src/pages/admin/manageForms/ManageForms.tsx
  client/src/pages/admin/manageForms/state.ts
  server/api/resources/formTemplates.py
  server/api/util.py
  server/data/marshal.py
  server/models.py
  server/validation/formTemplates.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Updated form template archival for form classification changes.
  client/src/pages/admin/manageForms/ArchiveTemplateDialog.tsx
  server/api/resources/formTemplates.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Fixed form updatedSchema Model to use FormClassification
  client/src/pages/admin/manageForms/state.ts
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

Updated Form Template Type names to match backend
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/index.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

Updated sample JSON template
  client/src/pages/admin/manageForms/SampleTemplateLink.tsx
Due: frontend build, frontend lint, frontend format

Fixed python code formatting using Black
  server/api/constants.py
  server/data/marshal.py
  server/migrations/versions/3451c3010032_.py
  server/models.py
  server/validation/questions.py
Due: backend unit tests, backend system tests, backend format

Updated Form Template tests for Form Classification Changes. Replaced Form template update tests with Form template Archival Test
  server/systemTests/api/test_form_templates.py
Due: backend unit tests, backend system tests, backend format

Fixed formatting for tests
  server/systemTests/api/test_form_templates.py
Due: backend unit tests, backend system tests, backend format

created Secondary Button Component
  client/src/pages/patient/Cards/AssessmentData.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patients/index.tsx
  client/src/shared/components/SecondaryButton/index.tsx
Due: frontend build, frontend lint, frontend format

created Primary and Secondary Button components
  client/src/pages/patient/Cards/AssessmentData.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/referrals/index.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
  client/src/shared/components/cancelButton/index.tsx
  client/src/shared/components/primaryButton/index.tsx
Due: frontend build, frontend lint, frontend format

reduced duplicate code
  client/src/pages/assessmentForm/handlers.ts
Due: frontend build, frontend lint, frontend format

greatly reduced code duplication
  client/src/pages/assessmentForm/handlers.ts
Due: frontend build, frontend lint, frontend format

removed hard strings and chenged variable names
  client/src/pages/patient/Cards/AssessmentData.tsx
  client/src/pages/patient/Cards/ReferralPendingData.tsx
  client/src/pages/patient/Header.tsx
  client/src/pages/patient/MedicalInfo.tsx
  client/src/pages/patient/PersonalInfo.tsx
  client/src/pages/patient/PregnancyInfo.tsx
  client/src/pages/patients/index.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
  client/src/shared/components/SecondaryButton/index.tsx
  client/src/shared/components/cancelButton/index.tsx
  client/src/shared/components/primaryButton/index.tsx
Due: frontend build, frontend lint, frontend format
