Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm install prettier@2.3.0 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Added the Form Archival Migration back to fix the pipeline.
  server/migrations/versions/3451c3010032_.py
  server/migrations/versions/725404868513_added_archived_flag_for_form_template.py
Due: backend unit tests, backend system tests, backend format

Create GET all entries endpoint and expand unit test for FormClassifications
  server/api/resources/formClassifications.py
  server/routes.py
  server/systemTests/api/test_form_classifications.py
Due: backend unit tests, backend system tests, backend format

Create single-item GET and PUT endpoints for FormClassifications with unit test
  server/api/resources/formClassifications.py
  server/routes.py
  server/systemTests/api/test_form_classifications.py
Due: backend unit tests, backend system tests, backend format

Create summary GET endpoint that returns the latest template for each FormClassification
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/routes.py
  server/systemTests/api/test_form_classifications.py
Due: backend unit tests, backend system tests, backend format

Run black formatting on new form classification endpoint and test files
  server/api/resources/formClassifications.py
  server/api/util.py
  server/routes.py
  server/systemTests/api/test_form_classifications.py
  server/validation/formClassifications.py
Due: backend unit tests, backend system tests, backend format

Fixed customized form data import ordering
  client/src/pages/patient/Cards/CustomizedFormData.tsx
Due: frontend build, frontend lint, frontend format

Update API documentation for form classifications and form templates
  server/api/resources/formClassifications.py
  server/api/resources/formTemplates.py
  server/specifications/blank-form-template-get.yml
  server/specifications/form-classification-summary-get.yml
  server/specifications/form-classifications-get.yml
  server/specifications/form-classifications-post.yml
  server/specifications/form-templates-post.yml
  server/specifications/single-form-classification-get.yml
  server/specifications/single-form-classification-put.yml
  server/specifications/single-form-template-get.yml
  server/specifications/single-form-template-put.yml
Due: backend unit tests, backend system tests, backend format

Added missing import
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
Due: frontend build, frontend lint, frontend format

Update form classification summary endpoint to include every language variant in the return
  server/api/resources/formClassifications.py
  server/systemTests/api/test_form_classifications.py
Due: backend unit tests, backend system tests, backend format

Update form classification summary endpoint to deep copy the return objects
  server/api/resources/formClassifications.py
Due: backend unit tests, backend system tests, backend format

Fix form submission by adding missing fields to database model
  server/api/resources/forms.py
  server/migrations/versions/725404868513_added_archived_flag_for_form_template.py
  server/migrations/versions/f532e4055de0_add_classification_link_and_archived_.py
  server/models.py
  server/validation/forms.py
Due: backend unit tests, backend system tests, backend format

Updated the Api function imports
  client/src/pages/admin/manageFacilities/EditFacility.tsx
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
Due: frontend build, frontend lint, frontend format

Fixed double JSON encoding issue
  client/src/pages/referralForm/ReferralForm.tsx
Due: frontend build, frontend lint, frontend format

Updated if-else block with switch statement
  client/src/pages/singleReasonForm/index.tsx
Due: frontend build, frontend lint, frontend format

Merged form submit handler into Page Component
  client/src/pages/singleReasonForm/SingleReasonForm.tsx
  client/src/pages/singleReasonForm/handlers.ts
Due: frontend build, frontend lint, frontend format

Updated Statictics Components to accept a closure to get data. Refactored statistic api calls.
  client/src/pages/statistics/AllStatistics.tsx
  client/src/pages/statistics/FacilityStatistics.tsx
  client/src/pages/statistics/MyFacility.tsx
  client/src/pages/statistics/MyStatistics.tsx
  client/src/pages/statistics/UserStatistics.tsx
  client/src/pages/statistics/utils/ExportStatistics.tsx
  client/src/pages/statistics/utils/StatisticDashboard.tsx
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

Updated Statictics Components to accept a closure to get data.
  client/src/pages/statistics/VHTStatistics.tsx
Due: frontend build, frontend lint, frontend format

Updated Confirmation Dialog Cancel button
  client/src/shared/components/confirmDialog/index.tsx
Due: frontend build, frontend lint, frontend format

Fix submitted forms in patient view having blank titles
  client/src/pages/patient/Cards/CustomizedFormData.tsx
  client/src/shared/types.ts
  server/data/marshal.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Resolve "Use Docker Hub for deployments"
  .gitlab-ci.yml
  caddy/Dockerfile
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/manual_deployment.md
  scripts/README.md
  scripts/setup_cd.sh
  scripts/setup_manual.sh
  scripts/setup_production.sh
  scripts/update.sh
Due: none

Remove text element on patient page showing the depreciated 'category' field of a submitted form
  client/src/pages/patient/Cards/CustomizedFormData.tsx
Due: frontend build, frontend lint, frontend format

Fix the system tests broken by changes to Form database model
  server/api/util.py
  server/data/marshal.py
  server/systemTests/api/test_forms.py
Due: backend unit tests, backend system tests, backend format

Ask for username, password, and facility name during server install
  scripts/setup_production.sh
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Renamed ManageForms to ManageFormTemplates
  client/src/pages/admin/index.tsx
  client/src/pages/admin/manageFormTemplates/ArchiveTemplateDialog.tsx
  client/src/pages/admin/manageFormTemplates/CreateTemplate.tsx
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/admin/manageFormTemplates/SampleTemplateLink.tsx
Due: frontend build, frontend lint, frontend format

Added workflow for CSV download.
  client/src/pages/admin/adminStyles.ts
  client/src/pages/admin/manageFormTemplates/ManageFormTemplates.tsx
  client/src/pages/customizedForm/index.tsx
  client/src/shared/api.ts
  server/api/resources/formTemplates.py
  server/routes.py
  server/specifications/single-form-template-get-csv.yml
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Updated React version to 18
  client/package-lock.json
  client/package.json
Due: frontend build, frontend lint, frontend format

Updated react-router-dom to latest version.
  client/package-lock.json
  client/package.json
Due: frontend build, frontend lint, frontend format

Fixed missing children prop issue
  client/src/app/context/index.tsx
  client/src/context/index.tsx
  client/src/context/materialUI/index.tsx
  client/src/pages/login/index.tsx
Due: frontend build, frontend lint, frontend format

Replaced Redirect and Switch with Navigate and Routes
  client/src/app/index.tsx
  client/src/app/routes/index.tsx
  client/src/app/routes/privateRoute/index.tsx
  client/src/app/routes/utils/index.tsx
Due: frontend build, frontend lint, frontend format

implemented the initial tests
  client/package-lock.json
  client/package.json
  client/src/shared/components/Button/__test__/button.test.js
Due: frontend build, frontend lint, frontend format

made a better way of testing rendering buttons
  client/src/shared/components/Button/__test__/button.test.js
  client/src/shared/components/Button/index.tsx
Due: frontend build, frontend lint, frontend format

testing the patients page
  client/src/pages/patients/index.tsx
  client/src/pages/patients/patient.test.js
Due: frontend build, frontend lint, frontend format

made a small change in testing patients page
  client/src/pages/patients/patient.test.js
Due: frontend build, frontend lint, frontend format

made a small change
  client/src/pages/patients/patient.test.js
Due: frontend build, frontend lint, frontend format

modyfied button.test.js
  client/src/pages/patients/patient.test.js
  client/src/shared/components/Button/__test__/button.test.js
Due: frontend build, frontend lint, frontend format

made test cases for confirmDialog component
  client/src/shared/components/Button/button.test.js
  client/src/shared/components/confirmDialog/confirmDialog.test.js
  client/src/shared/components/confirmDialog/index.tsx
Due: frontend build, frontend lint, frontend format

made small changes in the confirmDialogtest
  client/src/shared/components/confirmDialog/confirmDialog.test.js
  client/src/shared/components/confirmDialog/index.tsx
Due: frontend build, frontend lint, frontend format

Correct typo in install script folders
  scripts/setup_cd.sh
  scripts/update.sh
Due: none

made test cases for the toast component
  client/src/shared/components/toast/toast.test.js
Due: frontend build, frontend lint, frontend format

renaming of the test cases
  client/src/pages/patients/patient.test.js
Due: frontend build, frontend lint, frontend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
