Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

idk ;
  .gitlab-ci.yml
Due: none

Use non root user for flask app, use only one Dockerfile
  .gitlab-ci.yml
  docker-compose.deploy.yml
  server/Dockerfile
  server/Dockerfile.deploy
Due: backend unit tests, backend system tests, backend format

test
  .gitlab-ci.yml
Due: none

test
  docker-compose.deploy.yml
Due: none

generate migration for db
  server/migrations/versions/4396381edcbf_add_isarchived_field_to_patient.py
Due: backend unit tests, backend system tests, backend format

fix systemTests failures
  server/systemTests/test_search.py
Due: backend unit tests, backend system tests, backend format

test, add frontend.tar.gz
  caddy/Dockerfile
  docker-compose.deploy.yml
Due: none

d
  caddy/Dockerfile
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
  server/Dockerfile
  server/service/statsCalculation.py
Due: backend unit tests, backend system tests, backend format

c
  .gitlab-ci.yml
  docker-compose.deploy.yml
  docker-compose.yml
Due: none

d
  server/service/statsCalculation.py
Due: backend unit tests, backend system tests, backend format

[@118] Run caddy and flask container as non root users
  caddy/Dockerfile
  docker-compose.deploy.yml
  docker-compose.override.yml
  server/Dockerfile
  server/Dockerfile.deploy
Due: backend unit tests, backend system tests, backend format

add archiving patient to front end
  client/src/pages/admin/index.tsx
  client/src/pages/admin/managePatients/ArchivePatient.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/shared/api.ts
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

add isArchived to patient validation
  server/validation/patients.py
Due: backend unit tests, backend system tests, backend format

update rows to include isArchived
  client/src/pages/admin/managePatients/ArchivePatient.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

fix formatting issues
  client/src/pages/admin/managePatients/ArchivePatient.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

remove unused imports
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend lint, frontend format

#120 Integrate Integration Testing into CICD
  .gitlab-ci.yml
  client/cypress/e2e/addNewPatients.cy.ts
  client/cypress/e2e/login.cy.ts
  client/cypress/e2e/referral.cy.ts
  client/package-lock.json
  client/package.json
Due: frontend build, frontend lint, frontend format

Revert "Merge branch 'integration-test-cicd' into 'master'"
  .gitlab-ci.yml
  client/cypress/e2e/addNewPatients.cy.ts
  client/cypress/e2e/login.cy.ts
  client/cypress/e2e/referral.cy.ts
  client/package-lock.json
  client/package.json
Due: frontend build, frontend lint, frontend format

Re-implement integration test cicd
  .gitlab-ci.yml
  client/cypress/e2e/addNewPatients.cy.ts
  client/cypress/e2e/login.cy.ts
  client/cypress/e2e/referral.cy.ts
  client/package-lock.json
  client/package.json
Due: frontend build, frontend lint, frontend format

[#122] Combine flask Dockerfiles
  docker-compose.deploy.yml
  server/Dockerfile
  server/Dockerfile.deploy
Due: backend unit tests, backend system tests, backend format

Add gzip compressor
  server/service/compressor.py
Due: backend unit tests, backend system tests, backend format

retrieve correct patient information
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend lint, frontend format

add index to patients which fixes undefined bug
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

fix error where isArchived column does not show any value
  client/src/pages/admin/manageFacilities/ManageFacilities.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
Due: frontend build, frontend lint, frontend format

change get patients endpoint to only show unarchived patients
  client/src/pages/admin/managePatients/ManagePatients.tsx
  server/api/resources/patients.py
  server/data/crud.py
  server/specifications/patients-get.yml
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

create new endpoint to get patient info for admin use
  server/api/resources/patients.py
  server/data/crud.py
  server/routes.py
  server/service/serialize.py
  server/service/view.py
  server/specifications/patients-admin-get.yml
Due: backend unit tests, backend system tests, backend format

update front end to use new endpoint
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

fix formatting issues
  client/src/pages/admin/managePatients/ArchivePatient.tsx
  client/src/pages/admin/managePatients/ManagePatients.tsx
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/shared/types.ts
Due: frontend build, frontend lint, frontend format

fix formatting issues
  server/api/resources/patients.py
  server/data/crud.py
  server/migrations/versions/4396381edcbf_add_isarchived_field_to_patient.py
  server/migrations/versions/cf9e5bcce121_add_phone_number_and_secret_key_to_user.py
  server/routes.py
  server/service/serialize.py
  server/service/view.py
Due: backend unit tests, backend system tests, backend format

fix case where isArchived isn't set
  server/data/crud.py
Due: backend unit tests, backend system tests, backend format

add isArchived to test patient info
  server/data/crud.py
  server/systemTests/api/conftest.py
Due: backend unit tests, backend system tests, backend format

revert earlier change back to original
  client/src/pages/admin/managePatients/ArchivePatient.tsx
Due: frontend build, frontend lint, frontend format

revert earlier change back to original
  server/systemTests/api/conftest.py
Due: backend unit tests, backend system tests, backend format

remove print statements
  client/src/pages/admin/manageUsers/ManageUsers.tsx
Due: frontend build, frontend lint, frontend format

Add compress from and to string
  server/service/compressor.py
Due: backend unit tests, backend system tests, backend format

add test for patients_admin endpoint
  server/data/crud.py
  server/systemTests/api/conftest.py
  server/systemTests/api/test_patients.py
Due: backend unit tests, backend system tests, backend format

format compressor.py
  server/service/compressor.py
Due: backend unit tests, backend system tests, backend format

Create test for compressor
  server/tests/service/test_compressor.py
Due: backend unit tests, backend system tests, backend format
