Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm ci
  script:
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd client/build && tar -czvf ../../frontend.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
    - frontend.tar.gz

backend unit tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - python -m pytest --junitxml=report.xml tests
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit: server/report.xml

backend system tests:
  stage: test
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  variables:
    DB_USERNAME: root
    DB_PASSWORD: ci-password
    DB_HOSTNAME: mysql
    DB_PORT: '3306'
    DB_NAME: cradle
    PORT: '5000'
    MYSQL_DATABASE: cradle
    MYSQL_ROOT_PASSWORD: ci-password
    JWT_SECRET_KEY: testkey
  services:
  - mysql:5.7
  ...

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm install prettier@2.3.0 --global
  script:
  - prettier --check "client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - cd server
  - pip install --upgrade pip
  - pip install -r requirements.txt
  script:
  - black --check --exclude 'server/migrations/.*' .

Refactored Customized form page
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
  client/src/pages/customizedForm/customizedEditForm/index.tsx
  client/src/pages/customizedForm/customizedFormHeader/SelectHeaderForm.tsx
  client/src/pages/customizedForm/customizedFormHeader/handlers.ts
  client/src/pages/customizedForm/index.tsx
  client/src/shared/api.ts
Due: frontend build, frontend lint, frontend format

Fixed validation issue preventing form submission.
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
  client/src/pages/customizedForm/customizedEditForm/handlers.ts
Due: frontend build, frontend lint, frontend format

Update development.md
  docs/development.md
Due: none

deleted extra labels
  client/src/pages/patientForm/personalInfo/index.tsx
Due: frontend build, frontend lint, frontend format

[#101] feat: Apply date picker and time picker for DateTime input field in the form instead of manual input. Used html native 'datetime-local' input type with step attribute.
  client/src/pages/customizedForm/customizedEditForm/CustomizedForm.tsx
Due: frontend build, frontend lint, frontend format

fix swagger file path
  server/api/resources/formTemplates.py
Due: backend unit tests, backend system tests, backend format

add automated unit testing for frontend
  .gitlab-ci.yml
Due: none

update CICD frontend build to run after unit testing
  .gitlab-ci.yml
Due: none

update job dependency name
  .gitlab-ci.yml
Due: none

test after build
  .gitlab-ci.yml
Due: none

change image to NODE_IMAGE
  .gitlab-ci.yml
Due: none

Add PhoneNumber and SecretKey to User model
  client/src/pages/admin/manageUsers/state.ts
  client/src/shared/types.ts
  server/migrations/versions/cf9e5bcce121_add_phone_number_and_secret_key_to_user.py
  server/models.py
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Clean install before npm test
  .gitlab-ci.yml
Due: none

add placeholder code for endpoint android_forms
  server/api/resources/patients_android.py
  server/routes.py
  server/specifications/android-forms-get.yml
Due: backend unit tests, backend system tests, backend format

fix naming convention
  server/api/resources/patients_android.py
  server/routes.py
  server/specifications/android-forms-get.yml
Due: backend unit tests, backend system tests, backend format

Add Phone Number Column to Manage User
  client/src/pages/admin/manageUsers/ManageUsers.tsx
  client/src/pages/admin/manageUsers/state.ts
Due: frontend build, frontend lint, frontend format

Add phone number to Edit User in UI
  client/src/pages/admin/manageUsers/EditUser.tsx
  server/api/resources/users.py
  server/specifications/user-all.yml
  server/specifications/user-auth.yml
  server/specifications/user-current.yml
  server/specifications/user-get.yml
  server/specifications/user-put.yml
  server/specifications/user-register.yml
Due: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Add phone number to user in database seed
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Fixed format pipeline of phone number
  server/manage.py
Due: backend unit tests, backend system tests, backend format

reformatted manage.py
  server/manage.py
Due: backend unit tests, backend system tests, backend format

fix skeleton get to correctly output 'Helloworld'
  server/api/resources/patients_android.py
Due: backend unit tests, backend system tests, backend format

implement get for /api/mobile/forms/{patient_id}/{form_id}
  server/api/resources/formTemplates.py
  server/api/resources/patients_android.py
Due: backend unit tests, backend system tests, backend format

rename form_id to form_template_id
  server/api/resources/patients_android.py
  server/routes.py
  server/specifications/android-forms-get.yml
Due: backend unit tests, backend system tests, backend format

resolve pipeline failure by using black
  server/api/resources/formTemplates.py
  server/api/resources/patients_android.py
  server/routes.py
Due: backend unit tests, backend system tests, backend format

Update frontend node image to node 18 in docker-compose.override.yml
  docker-compose.override.yml
Due: none

[108] Bug fix: Update previous form template's 'archived' attribute to True when a new version is uploaded
  server/api/resources/formTemplates.py
  server/systemTests/api/test_form_templates.py
Due: backend unit tests, backend system tests, backend format

add test for form for patient form endpoint
  server/systemTests/api/test_android_endpoints.py
Due: backend unit tests, backend system tests, backend format

Implemented #102 and fix #117
  client/cypress.config.ts
  client/cypress/e2e/login.cy.ts
  client/cypress/e2e/spec.cy.ts
  client/cypress/fixtures/example.json
  client/cypress/support/commands.ts
  client/cypress/support/e2e.ts
  client/package-lock.json
  client/package.json
  client/src/pages/patientForm/personalInfo/validation.ts
  client/src/shared/utils.ts
Due: frontend build, frontend lint, frontend format

Added integration test to CICD
  .gitlab-ci.yml
  client/cypress/fixtures/example.json
Due: frontend build, frontend lint, frontend format

Create encryptor class
  server/service/encryptor.py
Due: backend unit tests, backend system tests, backend format

fix error in tests
  server/systemTests/api/test_android_endpoints.py
Due: backend unit tests, backend system tests, backend format

test
  .gitlab-ci.yml
  client/src/index.css
Due: frontend build, frontend lint, frontend format

test
  .gitlab-ci.yml
Due: none

d
  .gitlab-ci.yml
Due: none

refactor fixtures and put them in conftest.py
  server/systemTests/api/conftest.py
  server/systemTests/api/test_android_endpoints.py
  server/systemTests/api/test_forms.py
Due: backend unit tests, backend system tests, backend format

fix format
  .gitlab-ci.yml
Due: none

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*
