Repository drbfraser/CRADLE-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend unit tests, backend system tests, frontend lint, frontend format, backend format

Path conditions:
  frontend build: any of: client/**/*
  backend unit tests: any of: server/**/*
  backend system tests: any of: server/**/*
  frontend lint: any of: client/**/*
  frontend format: any of: client/**/*
  backend format: any of: server/**/*

change working dir
  .gitlab-ci.yml
Due: none

d
  .gitlab-ci.yml
  client/package.json
Due: frontend build, frontend lint, frontend format

d
  .gitlab-ci.yml
Due: none

fix formatting errors
  server/systemTests/api/test_android_endpoints.py
Due: backend unit tests, backend system tests, backend format

fix formatting errors
  server/systemTests/api/conftest.py
  server/systemTests/api/test_forms.py
Due: backend unit tests, backend system tests, backend format

add referral integration testing
  client/cypress/e2e/addNewPatients.cy.ts
  client/cypress/e2e/referral.cy.ts
Due: frontend build, frontend lint, frontend format

format
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

t
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

revert
  .gitlab-ci.yml
Due: none

Generate key in databse sample seeds
  server/manage.py
Due: backend unit tests, backend system tests, backend format

Update patients' readings creation time to 2022
  server/manage.py
Due: backend unit tests, backend system tests, backend format

add forms to gitlab db
  server/manage.py
  server/systemTests/api/test_android_endpoints.py
Due: backend unit tests, backend system tests, backend format

change test_get_patient_form to rely on db instead of creating test info
  server/manage.py
  server/systemTests/api/test_android_endpoints.py
Due: backend unit tests, backend system tests, backend format

fix system test errors
  server/manage.py
  server/systemTests/api/test_android_endpoints.py
Due: backend unit tests, backend system tests, backend format

fix formatting issues
  server/manage.py
  server/systemTests/api/test_android_endpoints.py
Due: backend unit tests, backend system tests, backend format

Fix encryptor to use in user seed generation
  server/manage.py
  server/service/encryptor.py
Due: backend unit tests, backend system tests, backend format

Add secret key in create user post
  server/api/resources/users.py
Due: backend unit tests, backend system tests, backend format

Format encyptor files to pass backend format
  server/manage.py
  server/service/encryptor.py
Due: backend unit tests, backend system tests, backend format

add isArchived to backend
  server/manage.py
  server/models.py
Due: backend unit tests, backend system tests, backend format

remove extra unit test
  .gitlab-ci.yml
Due: none

update swagger documentation for patients
  server/specifications/patient-all-records-get.yml
  server/specifications/patient-info-get.yml
  server/specifications/patient-info-put.yml
  server/specifications/patient-most-recent-reading-get.yml
  server/specifications/patient-readings-get.yml
  server/specifications/patients-post.yml
  server/specifications/single-patient-get.yml
Due: backend unit tests, backend system tests, backend format

update swagger documentation for patients. change naming of patient endpoint to be consistent with others
  server/api/resources/patients_android.py
  server/routes.py
  server/specifications/patient-referrals-get.yml
  server/specifications/patient-search-get.yml
  server/specifications/patients-post.yml
  server/specifications/single-patient-get.yml
Due: backend unit tests, backend system tests, backend format

test2
  .gitlab-ci.yml
Due: none

final
  .gitlab-ci.yml
Due: none

final2
  .gitlab-ci.yml
Due: none

final3
  .gitlab-ci.yml
Due: none

final4
  .gitlab-ci.yml
Due: none

fian5
  .gitlab-ci.yml
Due: none

gisdf
  .gitlab-ci.yml
Due: none
